<div class="row border rounded bg-white">
  <div class="col-2">
    <div class="text-center">
      <%= link_to(votes_path(question_id: question.id), method: :post) do -%>
        <i class="up-arrow fas fa-arrow-up"></i>
      <% end -%>
    </div>
    <div class="text-center"><%= question.vote_total -%></div>
    <div class="text-center">votes</div>
  </div>
  <div class="col">
    Question for: <%= question.contest.display_name -%><br />
    <%= question.body -%>
  </div>
</div>
<% if question.answers.any? %>
  <div class="row border rounded bg-white">
    <div class="col">
      <%= link_to question.answers.first.candidate.primary_name, candidate_path(question.answers.first.candidate) -%>: <%= question.answers.first.body -%>
    </div>
  </div>
<% end %>
